.card {
    margin-top: 10px;
    border: none;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(143, 186, 216);
    background: linear-gradient(90deg, rgb(145, 178, 202)0%, rgb(114, 115, 175)100%);
}

.label {
    color: white
}

.card h1,
h6 {
    color: white;
}

.form-label {
    color: white;
}